html{
    font-size: 20px;

}
h1{
    text-align: center;
    color:red;
    font-size: 2.6rem;
    font-weight: normal;
    text-decoration: underline yellow wavy;
    text-shadow: 3px 3px 5px red;
    font-style: italic;
    background-color: chartreuse;
    padding: 20px;
}
body{
    background-image:url(timg.jpg);
    background-repeat: no-repeat;
    background-position: center 5px;
}
table,td{   
    margin: auto;
    border-style: solid;
    border-width: thick;  
    border-color: cadetblue;
    border-radius: 20px;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
}
td{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 32px;
}
.information{
    font-weight: bold;
    text-indent: 10%;
}
table[class="insideTable"]{
    border-width: 0px;
}
table[class="insideTable"] td{
    border: 0px;
}
ul{
    text-align: left;
    list-style-type: square;
}
ul.img{
    list-style-image: url(1580208996.jpg);
}