h1 {
    line-height: 60px;
}
h2 {
    line-height: 40px;
}
#essential div:nth-child(1), 
#contact div:nth-child(1){
    float: left;
}

#essential div:nth-child(2),
#contact div:nth-child(2){
    float: left;
    margin-left: 50px;
}

#essential div:nth-child(3),
#contact div:nth-child(3){
    float: left;
    margin-left: 50px;
}

strong {
    margin-right: 10px;
}
.blockDiv {
    margin-top: 15px;
}
.separate{
    clear: both;
}

