h1 {
    line-height: 60px;
}
h2 {
    line-height: 40px;
}
#essential div:nth-child(1), 
#contact div:nth-child(1){
    float: left;
}

#essential div:nth-child(2),
#contact div:nth-child(2){
    float: left;
    margin-left: 50px;
}

#essential div:nth-child(3),
#contact div:nth-child(3){
    float: left;
    margin-left: 50px;
}

strong {
    margin-right: 10px;
}
.blockDiv {
    margin-top: 15px;
}

#wrapper{
    display: flex;
    flex-direction: column;
}

.sidebar{
    background-color: gray;
    color: white;
    padding-left: 30px;
}

.container{
    display: flex;
    flex-direction: column;
}

.module{
    display: flex;
    flex-direction: row;
    border:solid 1px lightgray;
}
.subtitle{
    background-color: lightgray;
    padding: 20px; 
    border:solid 1px white;
}
.information{
    padding-left: 10px;
    padding-top: 10px;
}
.content{
    display: inline-block;
}